@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
  font-family: 'Outfit' !important;
}
.confirm-btn {
  width: 240px !important;
  height: 57px !important;
  border: 1px #bdbdbd !important;
  font-family: "Outfit" !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
  background-color: #48184c !important;
}

.confirm-btn:hover {
  background-color: #7f2c85 !important;
}

.cancel-btn {
  width: 240px !important;
  height: 57px !important;
  border: 1px solid #bdbdbd !important;
  font-family: "Outfit" !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  border-radius: 20px !important;
  color: #333 !important;
  background-color: white !important;
}

.cancel-btn:hover {
  background-color: #d32f2f !important;
  color: white !important;
}

.MuiTypography-h5 {
  font-family: "Outfit", sans-serif !important ;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 36px !important;
}
.MuiTypography-h2 {
  font-family: "Outfit", sans-serif !important ;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 45px !important;
}
.MuiTextField-root > * {
  height: 57px !important;
  border-radius: 20px !important;
  border: 1px #bdbdbd !important;
  background: rgba(217, 217, 217, 0) !important;
}

[id$="-label"] {
  border-radius: 0px !important;
  color: #959494 !important;

  font-family: "Outfit" !important;
  font-size: 17px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}
.MuiDataGrid-toolbarContainer > * {
  font-family: "Outfit", sans-serif !important ;
  font-optical-sizing: auto !important;
  font-weight: 200 !important;
  font-style: normal !important;
  color: #48184c !important;
}
.MuiDataGrid-columnHeader {
  border-bottom: #48184c solid 2px !important;
}
button {
  justify-content: center;
}

#upload-btn {
  /* Equal to the width to make it circular */
  background-color: transparent;
  justify-content: center; /* Assuming you want to center content inside the button */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#delete-btn {
  /* Equal to the width to make it circular */
  border-radius: 50%;
  height: 60px;
  background-color: #ef5350;
  justify-content: center; /* Assuming you want to center content inside the button */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.emp-form {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}


.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
  background-color: white;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}
.card:nth-child(5) {
  background-color: plum;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}